---
layout: default
title: Vocal Minority
description: "Vocal Minority is a community dedicated to fighting for equity and justice in America. We believe a Trump administration poses a distinct threat to countless citizens: immigrants and blacks, muslims and gays, veterans and women. We fight this threat by pooling our money, once a month, to support an organization that is taking a stand to defend our fellow Americans."
image_url: http://vocalminority.us/images/logo-square.jpg
banner: true
flag: true
---
<section class="row columns text-center vm-index__row-main-intro">
  <h1 class="vm-index__main-intro-main">Join Vocal Minority in the fight for equity and justice in America.</h1>
  <h2 class="vm-index__main-intro-sub">Each month, we pool our money together to support one great nonprofit.</h2>
  <div class="vm-index__main-intro-pill-container">
    <span class="vm-index__main-intro-pill"><span class="vm-index__main-intro-pill-highlight">{{ site.contributions_to_date }}</span> total in grants made</span>
  </div>
</section>

<section class="row vm-index__how-it-works-row">
  <h2 class="vm-index__how-it-works-header">How It Works</h2>
  <div class="columns medium-4 vm-index__how-it-works-item">
    <div class="vm-index__how-it-works-item-header">
      <div class="vm-index__how-it-works-item-header-number">1</div>
      <h3 class="vm-index__how-it-works-item-header-text">Members Vote</h3>
    </div>
    <p>
      At the beginning of the month, members vote on a focus area.
    </p>
  </div>
  <div class="columns medium-4 vm-index__how-it-works-item">
    <div class="vm-index__how-it-works-item-header">
      <div class="vm-index__how-it-works-item-header-number">2</div>
      <h3 class="vm-index__how-it-works-item-header-text">Nonprofit Announced</h3>
    </div>
    <p>
      Members then nominate nonprofits that meet our criteria: fighting for equity and justice, operating with less than a $1 million budget, and having good financial standing.
    </p>
  </div>
  <div class="columns medium-4 vm-index__how-it-works-item">
    <div class="vm-index__how-it-works-item-header">
      <div class="vm-index__how-it-works-item-header-number">3</div>
      <h3 class="vm-index__how-it-works-item-header-text">Grant is Made</h3>
    </div>
    <p>
      Finally, that month’s total contribution is made to the selected nonprofit in the name of The Vocal Minority. By pooling our resources in this way, we are capable of making an outsized impact.
    </p>
  </div>
</section>

<section class="row vm-index__total-contributions-row">
  <h2 class="vm-index__total-contributions-header">Total Contributions to Date</h2>
  <h3 class="vm-index__total-contributions-number">{{ site.contributions_to_date }}</h3>

  <h2 class="vm-index__grantees-header">previous grantees</h2>
  <div class="vm-index__grantees-container">
    {% for grantee in site.grantees limit:3 %}
      <a class="vm-index__grantees-item" href="/grantees.html#{{ grantee.slug }}">
        <div class="vm-index__grantees-item-header">Focus</div>
        <div class="vm-index__grantees-item-content">{{ grantee.focus }}</div>
        <div class="vm-index__grantees-item-header">Grantee</div>
        <div class="vm-index__grantees-item-content">{{ grantee.short_name }}</div>
        <div class="vm-index__grantees-item-divider"></div>
        <div class="vm-index__grantees-item-month">{{ grantee.month }}</div>
        <div class="vm-index__grantees-item-amount">{{ grantee.amount }}</div>
      </a>
    {% endfor %}
    <a class="vm-index__grantees-item vm-index__grantees-item--last" href="/grantees.html">
      <div>
        <div class="vm-index__grantees-item--last__link">Full History of<br>Grantees</div>
        →
      </div>
    </a>
  </div>
</section>

<div class="vm-index__this-month-join-us-container">
  <div class="vm-index__this-month">
    <h2 class="vm-index__this-month-header">This Month’s Focus</h2>
    <div class="vm-index__this-month-card-container">
      <div class="vm-index__this-month-card-top-title">our focus</div>
      <div class="vm-index__this-month-card vm-index__this-month-card-focus">
        <h3 class="vm-index__this-month-card-title">{{ site.current_focus.title }}</h3>
        <div class="vm-index__this-month-card-bottom-aligned">
          <p class="vm-index__this-month-card-body">
            {{ site.current_focus.body }}
          </p>
          <div class="vm-index__this-month-card-link-container">
            <a class="vm-index__this-month-card-focus-link" href="{{ site.current_focus.url }}">Read our blog post</a> →
          </div>
        </div>
      </div>
    </div>
    <div class="vm-index__this-month-card-container">
      <div class="vm-index__this-month-card-top-title">selected organization</div>
      <div class="vm-index__this-month-card vm-index__this-month-card-org">
        <div class="vm-index__this-month-card-org-image-container">
          {{ site.current_org.image }}
        </div>
        <div class="vm-index__this-month-card-bottom-aligned">
          <h3 class="vm-index__this-month-card-title vm-index__this-month-card-org-title">{{ site.current_org.title }}</h3>
          <div class="vm-index__this-month-card-org-subtitle">{{ site.current_org.location }}</div>
          <p class="vm-index__this-month-card-body">
            {{ site.current_org.body }}
          </p>
          {% if site.current_org.url %}
          <div class="vm-index__this-month-card-link-container vm-index__this-month-card-org-link-container">
            <a class="vm-index__this-month-card-org-link" href="{{ site.current_org.url }}">Learn more</a> →
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="vm-index__join-us">
    <h3 class="vm-index__join-us-header">Join Us</h3>
    <a href="/join.html" class="button large expanded secondary vm-index__join-us-button">
      Become a Member<br>
      <span class="vm-index__join-us-button-subtext">$27 per month</span>
    </a>
    <p class="vm-index__join-us-learn-more-container">Learn more <a href="/about.html" class="vm-index__join-us-learn-more-link">about us</a> or read our <a href="/faq.html" class="vm-index__join-us-learn-more-link">FAQ</a></p>
  </div>
</div>
