---
layout: default
title: Vocal Minority
description: "Vocal Minority is a community dedicated to fighting for equity and justice in America. We believe a Trump administration poses a distinct threat to countless citizens: immigrants and blacks, muslims and gays, veterans and women. We fight this threat by pooling our money, once a month, to support an organization that is taking a stand to defend our fellow Americans."
image_url: http://vocalminority.us/images/logo-square.jpg
banner: true
flag: true
---
<div class="row columns text-center">
  <h1 class="main-intro">Let's come together in the fight for equity and justice in America.</h1>
</div>

<section class="our-mission row">
  <div class="columns medium-6">
    <h3>Our Mission</h3>
    <p>
      Vocal Minority is a community dedicated to fighting for equity and justice in America. We believe a Trump administration poses a distinct threat to countless citizens: immigrants and Black Americans, Muslims and gays, veterans and women. We fight this threat by pooling our money, once a month, to support an organization that is taking a stand to defend our fellow Americans.
    </p>
  </div>
  <div class="columns medium-6 cause-cards">
    <div class="cause-card">
      <div class="cause-card-image-wrapper">
        <img src="/images/icons/civil-liberties.svg" class="cause-card-image">
      </div>
      Civil Liberties
    </div>
    <div class="cause-card">
      <div class="cause-card-image-wrapper">
        <img src="/images/icons/gay-rights.svg" class="cause-card-image">
      </div>
      Gay Rights
    </div>
    <div class="cause-card">
      <div class="cause-card-image-wrapper">
        <img src="/images/icons/immigrants.svg" class="cause-card-image">
      </div>
      Immigrants
    </div>
    <div class="cause-card">
      <div class="cause-card-image-wrapper">
        <img src="/images/icons/racial-justice.svg" class="cause-card-image">
      </div>
      Racial Justice
    </div>
    <div class="cause-card">
      <div class="cause-card-image-wrapper">
        <img src="/images/icons/womens-rights.svg" class="cause-card-image">
      </div>
      Women's Rights
    </div>
    <div class="cause-card">
      <div class="cause-card-image-wrapper">
        <img src="/images/icons/veterans-rights.svg" class="cause-card-image">
      </div>
      Veterans' Rights
    </div>
  </div>
</section>

<section class="row">
  <div class="columns medium-6">
    <div class="every-month">
      <h4 class='every-month-header'>Every Month</h4>
      <ul>
        <li>Our focus area is announced</li>
        <li>A nonprofit is selected</li>
        <li>Our collective grant is made</li>
      </ul>
    </div>
  </div>
  <div class="columns medium-6">
    <h3>How It Works</h3>
    <p>
      All members are granted access to our community chat forum. Each month, our members share and discuss the different organizations we’re interested in supporting and choose one. That month’s contribution is then made in the name of The Vocal Minority. By pooling our resources in this way, each month we are capable of making a substantial impact for an organization.
    </p>
  </div>
</section>

<section class="row">
  <div class="columns medium-6 text-center">
    <h3 class="current-donation">$4,563</h3>
    <p>
      <span class="current-total">Our current monthly donating power</span><br/>
      <em class="light">Last updated: December 23rd, 2016</em>
    </p>
    <a href="/join.html" class="button large expanded secondary button-join">Join us</a>
    <p class="learn-more">Learn more <a href="/about.html">about us</a> or read our <a href="/faq.html">FAQ</a></p>
  </div>
  <div class="columns medium-4 medium-offset-1 end">
    <h3>This month's nonprofit:</h3>
    {% if site.current_nonprofit %}
      {% include current-nonprofit.html %}
    {% else %}
      {% include choosing-nonprofit.html %}
    {% endif %}
  </div>
</section>
