<div class="nonprofit-card">
  <div class="nonprofit-card-header dark">
    <img src="/images/npo-logos/niot.png" alt="Not In Our Town"/>
  </div>
  <div class="nonprofit-card-body">
    <h4>Not In Our Town (NIOT)</h4>
    <p>
    Not In Our Town is a movement to stop hate, address bullying, and build safe, inclusive communities for all. Not In Our Town films, new media, and organizing tools help local leaders build vibrant, diverse cities and towns, where everyone can participate.
    </p>
    <p>
      <a href="#">Learn More</a> | <a href="https://www.niot.org/">View Website</a>
    </p>

  </div>
</div>
