<div class="nonprofit-card">
  <div class="nonprofit-card-header">
    <img src="/images/npo-logos/freedom-house.png" alt="Freedom House Detroit"/>
  </div>
  <div class="nonprofit-card-body">
    <h4>Freedom House Detroit</h4>
    <p>
    Freedom House is a temporary home for survivors of persecution from around the world who are seeking asylum in the United States and Canada.
    </p>
    <p>
      <a href="#">Learn More</a> | <a href="https://www.freedomhousedetroit.org" target="_blank">View Website</a>
    </p>

  </div>
</div>
