<div class="vm-nonprofit-card">
  <div class="vm-nonprofit-card__header">
    <img class="vm-nonprofit-card__header-image" src="/images/npo-logos/crmw@2x.png" alt="Coal River Mountain Watch" width="195"/>
  </div>
  <div class="vm-nonprofit-card__body">
    <div class="vm-nonprofit-card__body-title">Coal River Mountain Watch</div>
    <p>
    The mission of Coal River Mountain Watch is to stop the destruction of their communities and environment by mountaintop removal mining, to improve the quality of life in the area and to help rebuild sustainable communities.
    </p>
    <p>
      <a href="https://blog.vocalminority.us/vocal-minority-funds-coal-river-mountain-watchs-fight-for-environmental-justice-41cdb74b5f6d#.aswyp6q12">Learn More</a> | <a href="http://www.crmw.net/" target="_blank">View Website</a>
    </p>

  </div>
</div>
