<div class="row vm-header">
  <div class="columns medium-2">
    <a href="/">
      <img class="vm-header__image" alt="Vocal Minority" src="./images/logo.svg"/>
    </a>
  </div>
  <ul class="menu horizontal vm-header__top-nav">
    {% for node in site.top_nav %}
      {% if page.url == node.url %}
        <li class="vm-header__top-nav-item">
          <a href="{{node.url}}" class="vm-header__top-nav-item-link--active">{{node.title}}</a>
        </li>
      {% else %}
        <li class="vm-header__top-nav-item">
          <a data-url="{{page.url}}" href="{{node.url}}" class="vm-header__top-nav-item-link--inactive">{{node.title}}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="vm-header__top-nav-item vm-header__top-nav-item--join-us">
      <a href="{{ site.join_url }}" class="button secondary vm-header__join-us-button">Join Us</a>
    </li>
  </ul>
</div>
