.about-us-team {
  clear: both;
  content: '';
  display: table;
  list-style-type: none;
  margin: 0 auto;

  li {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  @include breakpoint(small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
