.vm-about__team {
  clear: both;
  content: '';
  display: table;
  list-style-type: none;
  margin: 0 auto;

  @include breakpoint(small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.vm-about__team-item {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}
