.vm-index__row-main-intro {
  margin-top: 0;
  margin-bottom: 7rem;

  @include breakpoint(small only) {
    margin-top: rem-calc(40);
  }
}

.vm-index__main-intro-main {
  font-size: rem-calc(42);
  font-weight: normal;
  max-width: 720px;
  margin: 0 auto;

  @include breakpoint(small only) {
    font-size: rem-calc(34);
  }
}

.vm-index__main-intro-sub {
  font-weight: normal;
  font-size: rem-calc(18);
  max-width: 400px;
  margin: 0 auto 30px;
  padding: 20px;
  color: $darkish-gray;
}

.vm-index__main-intro-pill-container {
  border-bottom: 1px solid $darkish-gray;
  height: 0;
  position: relative;
  max-width: 525px;
  margin: 0 auto;

  @include breakpoint(small only) {
    border-bottom: none;
  }
}

.vm-index__main-intro-pill {
  font-size: rem-calc(18);
  padding: 6px 25px 8px;
  border-radius: 2em;
  color: white;
  background: $darkish-gray;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 0;
  white-space: nowrap;
}

.vm-index__main-intro-pill-highlight {
  font-weight: bold;
}

.vm-index__how-it-works-row {
  max-width: 50rem;

  @include breakpoint(small only) {
    max-width: 25rem;
  }
}

.vm-index__how-it-works-header {
  font-size: rem-calc(28);
  text-align: center;
  margin-bottom: rem-calc(24);
}

.vm-index__how-it-works-item {
  margin-top: rem-calc(16);
}

.vm-index__how-it-works-item-header {
  border-bottom: 3px solid $blue;
  text-align: center;
  margin-bottom: rem-calc(16);
  color: $blue;
  padding-bottom: rem-calc(4);
}

.vm-index__how-it-works-item-header-number {
  display: inline-block;
  width: 1.5em;
  line-height: 1.4;
  height: 1.5em;
  background: $blue;
  color: white;
  border-radius: 100%;
  margin-bottom: 0.5rem;
}

.vm-index__how-it-works-item-header-text {
  font-size: rem-calc(18);
}

.vm-index__current-progress {
  margin-bottom: rem-calc(50);
}

.vm-index__current-donation {
  color: $secondary-color;
  font-size: rem-calc(120);
  font-weight: normal;
  line-height: normal;
}

.vm-index__current-total {
  font-size: rem-calc(18);
}

.vm-index__current-total-subtext {
  font-size: rem-calc(14);
  color: $gray-text;
}

.vm-index__join-button {
  font-size: rem-calc(28) !important;
}

.vm-index__learn-more-container {
  font-size: rem-calc(14);
}

.vm-index__learn-more-link {
  color: $dark-gray;
  text-decoration: underline;
}
