.vm-index__row-main-intro {
  margin-top: 0;
  margin-bottom: 7rem;

  @include breakpoint(small only) {
    margin-top: rem-calc(40);
  }
}

.vm-index__main-intro-main {
  font-size: rem-calc(42);
  font-weight: normal;
  max-width: 720px;
  margin: 0 auto;

  @include breakpoint(small only) {
    font-size: rem-calc(34);
  }
}

.vm-index__main-intro-sub {
  font-weight: normal;
  font-size: rem-calc(18);
  max-width: 400px;
  margin: 0 auto 30px;
  padding: 20px;
  color: $darkish-gray;
}

.vm-index__main-intro-pill-container {
  border-bottom: 1px solid $darkish-gray;
  height: 0;
  position: relative;
  max-width: 525px;
  margin: 0 auto;

  @include breakpoint(small only) {
    border-bottom: none;
  }
}

.vm-index__main-intro-pill {
  font-size: rem-calc(18);
  padding: 6px 25px 8px;
  border-radius: 2em;
  color: white;
  background: $darkish-gray;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 0;
  white-space: nowrap;
}

.vm-index__main-intro-pill-highlight {
  font-weight: bold;
}

.vm-index__cause-cards {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: 200px;
  max-height: 380px;

  @include breakpoint(medium) {
    justify-content: space-between;
  }
}

.vm-index__cause-cards-item {
  height: 85px;
  flex: 1 1 120px;
  font-size: rem-calc(14);
  max-width: 120px;
  margin: 0 5px 10px 5px;
  text-align: center;
  color: $white;
  background-color: $darkish-gray;
}

.vm-index__cause-cards-item-image-wrapper {
  display: flex;
  height: 30px;
  margin: 15px auto 5px;
  width: 30px;
}

.vm-index__cause-cards-item-image {
  display: block;
  margin: auto;
}

.vm-index__every-month {
  padding: 20px;
  border: 2px solid $primary-color;
  position: relative;
}

.vm-index__every-month-header {
  color: $primary-color;
  background-color: #fff;
  display: inline-block;
  font-size: 1.125;
  position: absolute;
  padding: 0 10px;
  text-transform: uppercase;
  top: -14px;
  left: 10px;
}

.vm-index__every-month-list {
  list-style-type: none;
  margin-left: 0;
}

.vm-index__every-month-list-item {
  font-size: 1.375rem;
  margin: 20px 10px;
  padding-left: 40px;
  background-image: url('/images/icons/star.svg');
  background-repeat: no-repeat;
  background-position-y: 45%;
  background-size: 20px 19px;
}


.vm-index__current-progress {
  margin-bottom: rem-calc(50);
}

.vm-index__current-donation {
  color: $secondary-color;
  font-size: rem-calc(120);
  font-weight: normal;
  line-height: normal;
}

.vm-index__current-total {
  font-size: rem-calc(18);
}

.vm-index__current-total-subtext {
  font-size: rem-calc(14);
  color: $gray-text;
}

.vm-index__join-button {
  font-size: rem-calc(28) !important;
}

.vm-index__learn-more-container {
  font-size: rem-calc(14);
}

.vm-index__learn-more-link {
  color: $dark-gray;
  text-decoration: underline;
}
