section {
  margin: rem-calc(100) 0;

  @include breakpoint(small only) {
    margin: rem-calc(40) 0;
  }
}

.row-main-intro {
  margin-top: 0;

  @include breakpoint(small only) {
    margin-top: rem-calc(40);
  }
}

.main-intro {
  font-weight: normal;
  // font-size: 3rem;

  @include breakpoint(small only) {
    font-size: rem-calc(34);
  }
}

.current-progress {
  margin-bottom: rem-calc(50);
}

.current-donation {
  color: $secondary-color;
  font-size: rem-calc(120);
  font-weight: normal;
  line-height: normal;
}

.current-total {
  font-size: rem-calc(18);
}

.light {
  font-size: rem-calc(14);
  color: $gray-text;
}

.button.button-join {
  font-size: rem-calc(28);
}

.learn-more {
  font-size: rem-calc(14);

  a {
    color: $dark-gray;
    text-decoration: underline;
  }
}

.flag {
  background-image: url('/images/flag-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
