.vm-join__fine-print {
  font-size: rem-calc(12);
  font-style: italic;
  color: #999;
}

.vm-join__faq {
  font-size: rem-calc(14);
}

.vm-join__faq-heading {
  font-weight: $global-weight-medium;
  margin-bottom: 0;
}

.vm-join__faq-answer {
  color: $gray-text;
}

.vm-join__faq-answer-link {
  color: inherit;
  text-decoration: underline;
}
