.vm-banner {
  width: 100%;
  height: auto;
  top: 0;
  padding: 20px;
  position: relative;
  background-color: $dark-gray;
  color: $light-gray;
  font-style: italic;

  @include breakpoint(medium) {
    display: none;
  }
}

.vm-banner__button {
  color: $white;
  font-weight: $global-weight-bold;
  font-style: normal;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.vm-banner__button-subtext {
  color: rgba(255, 255, 255, 0.8);
  font-size: rem-calc(18) !important;
}
