.vm-footer {
  color: $medium-gray;
  font-size: rem-calc(14);
  margin-bottom: rem-calc(30);

  li {
    padding: 0.7rem 1rem;

    a {
      display: inline-block;
      padding: 0;
    }
  }
}

.vm-footer__amplifunds {
  background: url('/images/amplifunds@2x.png');
  background-size: 84px 16px;
  height: 16px;
  text-indent: -9999px;
  width: 84px;
}

.vm-footer__menu {
  display: inline-block;
}

.vm-footer__menu-link {
  color: $medium-gray;
  text-decoration: underline;
}
