.vm-footer {
  color: $medium-gray;
  font-size: rem-calc(14);
  margin-bottom: rem-calc(30);

  li {
    padding: 0.7rem 1rem;

    a {
      display: inline-block;
      padding: 0;
    }
  }
}

.vm-footer__grapevine {
  background: url('/images/grapevine-logo_black_484x128.png');
  background-size: 60.5px 16px;
  height: 16px;
  text-indent: -9999px;
  width: 60.5px;
  vertical-align: -2px;
  opacity: 0.6;
}

.vm-footer__menu {
  display: inline-block;
}

.vm-footer__menu-link {
  color: $medium-gray;
  text-decoration: underline;
}
