.cause-cards {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 200px;
}
.cause-card {
  height: 85px;
  flex: 0 0 130px;
  text-align: center;
  color: $white;
  background-color: $dark-gray;
  img {
    display: block;
    margin: 25px auto 10px auto;
  }
}
