.ctas-about-container {
  background-color: map-get($foundation-palette, secondary);
  color: $white;
}

.ctas-voice-container{
  background-color: map-get($foundation-palette, primary);
  color: $white;
}

.ctas-about, .ctas-voice {
  @include breakpoint(large) {
    max-width: rem-calc(570);
  }
  margin: rem-calc(40);
}

.ctas-about {
  float: right;
}

.ctas-voice {
  float: left;
}

.ctas-list {
  margin-left: rem-calc(30);
  @include breakpoint(medium) {
    margin-left: rem-calc(35);
  }
}

.ctas-list-pledge, .ctas-list-voice, .ctas-list-join {
  position: relative;
  &:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 5px;
  }
}
.ctas-list-pledge:before {
  background: url("../images/money-white.svg") no-repeat;
}
.ctas-list-voice:before {
  background: url("../images/vote-white.svg") no-repeat;
}
.ctas-list-join:before {
  background: url("../images/community-white.svg") no-repeat;
}
