.every-month {
  padding: 20px;
  border: 2px solid $primary-color;
  position: relative;
  .every-month-header {
    color: $primary-color;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    top: -14px;
    left: 10px;
  }
  ul {
    li {
      margin: 20px 10px;
      padding-left: 40px;
      background-image: url('/images/icons/star.png');
      background-repeat: no-repeat;
      background-position-y: 20%;
    }
  }
}
