.global-footer {
  color: $medium-gray;
  font-size: rem-calc(14);
  margin-bottom: rem-calc(30);

  .menu {
    display: inline-block;
  }

  a {
    color: $medium-gray;
    text-decoration: underline;
  }
}
