.global-header {
  @include breakpoint(small only) {
    text-align: center;
    img {
      width: 50px;
      margin: rem-calc(20);
    }
  }
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(60);
}
.top-nav-menu {
  li {
    padding-right: rem-calc(20);
    text-align: center;

    a {
      padding-left: 0;
      padding-right: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
  a {
    color: $black;
    width: rem-calc(80);
  }
  .active a {
    color: $secondary-color;
    background: none;
    border-bottom: 2px solid $secondary-color;
    font-weight: 500;
  }
  @include breakpoint(small only) {
    display: inline-block;
  }
}
