.mc-field-group {
  position: relative;
  input {
    border-radius: 0;
    padding: 25px;
    margin-top: 30px;
  }
}

.mc-email {
  //border: 0;
  font-size: 1.125rem;
  margin-bottom: .625rem;
  //padding: 34px 34px 34px 20px;

  &:focus {
    //border: 0;
  }

  &.mce_inline_error {
    color: map-get($foundation-palette, secondary);
    font-size: inherit;
    font-style: normal;
  }
}

.mc-embedded-subscribe {
  //background-color: $dark-gray;
  //color: $white;
  //position: absolute;
  //right: 10px;
  //top: 10px;

  &:hover,
  &:focus {
    background: darken($dark-gray,10%);
    outline: none;
  }
}

.mce_inline_error,
.mce-error-response {
  font-size: 1rem;
  font-style: italic;
}

.mce-success-response {
  //background: rgba($white,.15);
  border: 2px solid #2F73FB;
  border-radius: 8px;
  color: #2F73FB;
  font-size: 1.125rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.mc-field-group {
  .radio {
    margin: 20px 0;
    input {
      float: left;
      margin: 12px 20px 12px 0;
    }
    span {
      display: inline-block;
      width: 90%;
    }
  }
}
.field-explainer {
  color: $medium-gray;
}

.half-width-field {
  width: 45%;
  display: inline-block;
  &:first-child {
    margin-right: 9%;
  }
}
