.vm-join__field-group-header {
  margin-bottom: rem-calc(20);
}

.vm-join__field-group {
  position: relative;
  margin-bottom: rem-calc(40);
}

.vm-join__first-name-input,
.vm-join__last-name-input,
.vm-join__email-input {
  border-radius: 0;
  box-shadow: none;
  padding: 0px 12px;
  height: 50px;
  line-height: 50px;
}

.vm-join__email-input {
  font-size: rem-calc(16);
  margin-bottom: .625rem;

  &.vm-join__input-with-error {
    color: map-get($foundation-palette, secondary);
  }
}

.vm-join__amount-input {
  height: auto;
  line-height: auto;
  float: left;
  margin: 12px 20px 12px 0 !important;
}

.vm-join__inline-error {
  background: #ff8b8b;
  color: #fff;
  font-size: rem-calc(14);
  font-style: italic;
  padding: 10px;
}

.vm-join__amount-label {
  margin: 20px 0;
}

.vm-join__amount-description {
  font-size: rem-calc(14);
  line-height: 1.4;
  display: inline-block;
  width: 90%;
}

.vm-join__field-explainer {
  color: $gray-text;
  font-style: italic;
  font-size: rem-calc(13);
  margin-bottom: rem-calc(5);
}

@include breakpoint(medium) {
  .vm-join__first-name-input,
  .vm-join__last-name-input {
    width: 45%;
    display: inline-block;
  }

  .vm-join__first-name-input {
    margin-right: 9%;
  }
}
