h2,
h3,
h4 {
  font-weight: $global-weight-medium;
}

input[readonly],
input[readonly]:focus {
  background: #f6f6f6;
  border-color: $medium-gray;
  color: $gray-text;
  cursor: not-allowed;
}

.row-header {
  margin-bottom: 0;
  margin-top: rem-calc(40);
}

.row-begin-content {
  margin-top: rem-calc(30);
}

.alert-message {
  background: #f5f9ff;
  color: #3673ca;
  margin-bottom: rem-calc(40);
  padding: 20px 30px;

  a {
    color: inherit;
    text-decoration: underline;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
