.vm-signup-form {
  padding-bottom: 5rem;
}

.vm-signup-form label {
  font-size: 1rem;
}

.vm-signup-form h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.vm-signup-form .lead {
  font-size: rem-calc(18);
}

.vm-signup-form .donation-option {
  font-size: rem-calc(14);
  line-height: 1.4;
}

.field-group-last {
  margin-bottom: rem-calc(60);
}

.donation-description {
  color: $gray-text;
}

.button-subscribe {
  font-weight: $global-weight-bold;

  p {
    margin: 0;
  }

  .powered-by {
    font-size: rem-calc(14);
    font-weight: normal;
    opacity: 0.5;
  }

  .powered-by-paypal {
    background: transparent url('../images/button-paypal@2x.png') 0 0 no-repeat;
    background-size: 65px 17px;
    display: inline-block;
    height: 17px;
    margin-left: 5px;
    text-indent: -9999px;
    width: 65px;
    vertical-align: text-bottom;
  }
}

.no-paypal-account {
  font-size: rem-calc(14);
  margin-bottom: rem-calc(40);

  a {
    color: inherit;
    text-decoration: underline;
  }
}
