.vm-join__main {
  padding-bottom: 5rem;
}

.vm-join__amount-description-lead {
  font-size: rem-calc(18);
}

.vm-join__amount-description-small {
  color: $gray-text;
}

.vm-join__submit-recurring {
  font-weight: $global-weight-bold;
}

.vm-join__submit-recurring-title,
.vm-join__submit-recurring-powered-by {
  margin: 0;
}

.vm-join__submit-recurring-powered-by {
  font-size: rem-calc(14);
  font-weight: normal;
  opacity: 0.5;
}

.vm-join__submit-recurring-powered-by-paypal {
  background: transparent url('../images/button-paypal@2x.png') 0 0 no-repeat;
  background-size: 65px 17px;
  display: inline-block;
  height: 17px;
  margin-left: 5px;
  text-indent: -9999px;
  width: 65px;
  vertical-align: text-bottom;
}

.vm-join__no-paypal-account {
  font-size: rem-calc(14);
  margin-bottom: rem-calc(40);
}

.vm-join__submit-one-time {
  color: inherit;
  text-decoration: underline;
}
