.vm-signup-form {
  padding-bottom: 5rem;
}

.vm-signup-form label {
  font-size: 1rem;
}

.vm-signup-form .mc-field-group {
  margin-bottom: 1.5rem;
}

.vm-signup-form h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.vm-signup-form p.lead {
  font-size: 1.25rem;
}

.vm-signup-form p.field-explainer {
  font-size: 0.9rem;
}
